<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>J-list</h1>

<section id="container">
    <section id="addaThing">
        <form action="/todos" method="POST">
            <input type="text" placeholder="Item to Do" name="todo">
            <button type="submit" id="update-button">Submit</button>
          </form>
    </section>

</section>
   
<section id="deletion">
    <h2>It's so hard to say goodbye to yesterday</h2>
    <button type="button" id="delete-button">Incinerate</button>
</section>

<section class="todos">
    <section data-position="todos">
        <h2>What to</h2>
        <ul class="todos">
            <% for(var i = 0; i < todos.length; i++) {%>
            <li class="todo">
                <span class="listedTodo"><%= todos[i].todo %></span>
            </li>
            <% } %>
        </ul>
    </section>
</section>

    

    <script src="main.js"></script>
</body>
</html>