<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Get it done!</h1>

<section id="container">
        <form action="/todos" method="POST">
            <input type="text" placeholder=" Event" name="todo">
            <button type="submit" id="update-button" class="button-19" role="button">Submit</button>
          </form>
</section>

<section class="todosSection">
        <h2>AGENDA</h2>
        <ul class="todos">
            <% for(var i = 0; i < todos.length; i++) {%>
            <li class="todo">
                <span class="listedTodo"><%= todos[i].todo %></span>
            </li>
            <% } %>
        </ul>
</section>

<section id="deletion">
        <button type="button" id="delete-button" class="button-19" role="button">Delete</button>
</section>

    

    <script src="main.js"></script>
</body>
</html>